/* variables setub */
:root {
    /* dark mode */
    --background: #49656e;
    --dark: #994242;
    --light: #c2a57f;
    --accent: #aac5e2;
    --white: #effaff;
    --black: #170000;
}

html {
    min-height: 100%;
    min-width: 15em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--accent)
}

header {
    background-color: var(--dark);
    color: var(--light);
    grid-area: header;
    width: 100%;
    position: sticky;
    top: 0;
    margin: 0 auto;
    max-width: 100em;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1em;
}

/* nav bar */
nav {
    height: 100%;
}

#navBar {
    list-style-type: none;
    margin: 0 2em;
    padding: 0;
    height: 100%;
    display: flex;
}

#navBar li {
    border-left: solid 1px var(--light);
    border-right: solid 1px var(--light);
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.highlighted {
    border-bottom: solid 5px var(--light);
    box-sizing: border-box;
}

#navBar:first-child {
    border-left: solid 1.5px var(--light);
}

#navBar:last-child {
    border-right: solid 1.5px var(--light);
}

#navBar button {
    all: unset;
    color: var(--light);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    outline: none;
    padding: 0.7em;
}

#navBar button:hover {
    background-color: var(--light);
    color: var(--dark);
}

/* theme button */
#darkLightButton {
    all: unset;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    display: flex;
}

#darkLightIcon {
    border-radius: 50%;
    overflow: hidden;
    width: 1.5em;
}

#darkLightIcon:hover {
    outline: 2px solid var(--accent);
}

/* burger button */
#burgerButton {
    all: unset;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-left: 1em;
    display: none;
}

/* nav small screen */
@media screen and (max-width: 750px) {
    #burgerButton {
        display: block;
    }

    #navBar {
        display: none;
    }
}

#burgerIcon {
    width: 1.5em;
}

body {
    background-color: var(--background);
    height:100%;
    margin: 0;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: 3em 1fr 3em;
    grid-template-columns: 1fr;
}

/* content */
#content {
    grid-area: main;
    margin: 2em;
}

.section {
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-bottom: 2em;
    min-height: 20em;
    outline: solid 1px var(--accent);
    border-radius: 4em;
    box-shadow: 0.5em 0.5em var(--accent);
}

.sectionText {    
    padding: 2em;
    line-height: 2;
    text-align: justify;
}

.section img {
    float: right;
    object-fit: cover;
    width: 500%;
    max-width: 30em;
    border-radius: 4em;
}

/* section small screen */
@media screen and (max-width: 900px) {
    .section {
        flex-wrap: wrap;
    }
    
    .section img {
        object-fit: contain;
        width: 100%;
        max-height: 30em;
        max-width: 100%;
    }
}

/* quotation */
blockquote {
    all: unset;
}

.quotation, .author {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    margin-top: 0.5em;
}

.quotation {
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}

.quotation:before {
    content: open-quote;
    font-weight: bolder;
}

.quotation:after {
    content: close-quote;
    font-weight: bolder;
}

.author {
    text-align: right;
    margin-bottom: 2em;
}

.author a {
    text-decoration: none;
    outline: none;
    color: var(--accent);
}

/* scroll up */
#scrollUpButton {
    all: unset;
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 1em;
    right: 1em;
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

#scrollUpIcon {
    width: 2.5em;
    padding: 0.25em;
    background-color: var(--dark);
    border-radius: 50%;
}

#scrollUpIcon:hover {
    outline: 2px solid var(--light);
}

.show {
    opacity: 1 !important;
}

/* footer */
footer {
    background-color: var(--light);
    color: var(--dark);
    grid-area: footer;
    width: 100%;
    margin: 0 auto;
    max-width: 100em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0.5em 1em;
}